
	<!-- Content -->
	<div class="section section-contents section-pad-sm">
		<div class="container">
			<div class="content row">
				
				<div class="wide-md center">
					<h2>Commercial Auto Insurance</h2>
					<p>Commercial Auto Insurance includes coverage for physical damage to owned, rented, hired or employee vehicles and medical costs for you, your employees and any other passengers.</p>
				</div>
				<div class="gaps size-sep"></div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>What Is Commercial Auto Insurance?</h4>							
							<p>Commercial auto insurance helps cover the costs of an auto accident if you or an employee is at fault. This coverage can help pay for damaged property and medical expenses – even in the event of a fatal accident.</p>
							<p> Commercial auto insurance can help protect business owners and their companies if, for example:</p>
							<ul class="list-style dots">
								<li>An employee hits a pedestrian while driving one of the business vehicles. The pedestrian requires medical treatment that results in large medical bills.</li>
								<li>You swerve off the road while driving to work in a company vehicle and take out a residential mailbox.</li>
								<li>An employee driving to work in a company vehicle hits another car and totals it.</li>
							</ul>
							<p>Get a commercial car insurance quote today to learn how you can protect your small business while on the road.</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Who Needs Commercial Auto Insurance?</h4>							
							<p>Consider commercial auto insurance if your business:</p>
							<ul class="list-style dots">
								<li>Owns, leases, or rents vehicles such as cars and trucks.</li>
								<li>Has employees who drive their own vehicles to conduct business.</li>
								<li>Has employees who operate leased, rented, or owned company vehicles.</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>What Vehicles Are Covered Under Commercial Auto Insurance?</h4>							
							<p>If you're driving a vehicle for business reasons, having the right commercial vehicle insurance is important.. </p>
							<p>A good rule of thumb is to consider if the vehicle is being operated in relation to the job. If it is, you’ll likely need business auto insurance coverage. Remember that using a vehicle to commute to and from work doesn't constitute a need for commercial vehicle insurance.</p>
							<p>If you’re still unsure about commercial car coverages, call us today for more detailed information. You can talk with one of our representatives by calling 940-303-9299.</p>
						</div>
					</div>
				</div>
				<br><br>
		</div>
	</div>
	<!-- End content -->

	<!-- Content -->
	<div class="section section-contents section-pad-sm bg-light">
		<div class="container">
			<div class="content row">
				
				<div class="wide-md center">
					<h2>Vehicle Insurance</h2>					
				</div>
				<div class="gaps size-sep"></div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Why Do You Need Vehicle Insurance?</h4>							
							<p>Vehicle insurance requirements can vary by state. This means you’ll need to be sure you get the right coverage for your area. And depending on how many vehicles you have, you may need more than one type of insurance. At the very least, no matter where you live, you’ll need car insurance coverage.</p> 
							<p>These auto insurance coverages help protect your finances if you’re in an accident. Certain policies can help pay for repairs or replacement if your car is damaged or stolen.</p>								
							<p>call our specialists today at 940-303-9299. They can help you learn more about your state’s car insurance requirements. </p>						
							<p>You can also <a target="blank" href="get-a-quote.html">get a quote</a> online.</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Get a Vehicle Insurance Quote Online</h4>							
							<ul class="list-style dots">
								<li>Driver’s license</li>
								<li>Vehicle registration</li>
								<li>Documentation from your current auto insurance</li>
							</ul>	
							<p>To start saving money, get <a target="blank" href="get-a-quote.html">car insurance quotes</a> from us today.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
		<!-- End content -->
	
		<!-- Content -->
		<div class="section section-contents section-pad-sm" style="padding-bottom: 0;">
			<div class="container">
				<div class="content row">
					<div class="wide-md center">
						<h2>Common Questions About Vehicle Insurance</h2>	
						<div class="gaps size-sep"></div>
				
					</div>	
				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
													
							<h4>What Are the Three Primary Types of Car Insurance?</h4>
							<p>The three primary car coverage types include:</p>
							<ul class="list-style dots">
								<li>Liability insurance: This helps cover costs when you’re held legally responsible for a car accident that causes injury or death to the other driver or their passengers.</li>
								<li>Collision insurance: If you’re in an accident with another vehicle or object, this coverage can help pay for damages. It can also help cover rollover accidents or someone smashing into your parked car.</li>
								<li>Comprehensive insurance: This coverage helps pay for damages to your car from accidents with animals like a deer and non-accident related claims. This includes natural disasters, vandalism, theft, fire and falling objects.</li>
							</ul>	
							<hr>
						
							<h4>How Much Does Vehicle Insurance Cost?</h4>
							<p>Vehicle insurance rates vary. Factors that insurance companies use to help determine your rate include your:</p>
							<ul class="list-style dots">
								<li>Driving history</li>
								<li>Vehicle type</li>
								<li>Deductible amount</li>
								<li>Average miles driven in a year</li>
								<li>Coverage limits</li>
								<li>Vehicle’s age</li>
							</ul>	
							<p>To learn more about your coverage options and how much vehicle insurance will cost you, contact our representatives today at 940-303-9299 or
								<a target="blank" href="get-a-quote.html">get an auto insurance quote online</a>. </p>
						<hr>
							<h4>How Do I Calculate My Vehicle Insurance?</h4>
							<p>We determine your vehicle insurance cost based on factors like driving history and vehicle type, among others. We’ll also need important information to calculate how much your insurance will cost, including:</p>
							<ul class="list-style dots">
								<li>Your claim and insurance history</li>
								<li>The licensed drivers on your policy</li>
								<li>How often you use your vehicle</li>
								<li>Your credit score</li>
								<li>Your zip code</li>
							</ul>	
						</div>
					</div>
				</div>



			</div>
		</div>
	<!-- End content -->
