	<div class="section section-contents section-freequote section-pad-sm">
		<div class="container">
			<div class="">
				<div class="freequote-content row">
					<div class="quote-list col-md-8 res-m-bttm-lg" style="float: none; margin: 0 auto;">
						<p class="lead">Get a Quote with great savings</p>
						<span class="gaps size-xs"></span>
						<div class="quote-group">
							<form id="quote-contact-request" class="form-quote" action="form/quote-request.php" method="post">
								<div class="form-group row">
									<div class="form-field col-md-6 form-m-bttm">
										<input name="quote-request-name" type="text" placeholder="First Name *" class="form-control required">
									</div>
									<div class="form-field col-md-6">
										<input name="quote-request-lname" type="text" placeholder="Last Name" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-field col-md-6">
										<input name="quote-request-company" type="text" placeholder="Business Name" class="form-control">
									</div>
									<div class="form-field col-md-6 form-m-bttm">
										<input name="quote-request-email" type="email" placeholder="Email Address *" class="form-control required email">
									</div>									
								</div>
								<div class="form-group row">
									<div class="form-field col-md-6">
										<input name="quote-request-phone" type="text" placeholder="Phone Number *" class="form-control required">
									</div>

									<div class="form-field col-md-6 form-m-bttm">
										<input name="quote-request-address" type="text" placeholder="Street Address" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-field col-md-6">
										<input name="quote-request-city" type="text" placeholder="City" class="form-control">
									</div>
									<div class="form-field col-md-6">
										<input name="quote-request-state" type="text" placeholder="State" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-field col-md-6">
										<input name="quote-request-zip" type="text" placeholder="Zip code" class="form-control">
									</div>
								</div>
								<div class="form-group row">
									<div class="form-field col-md-12">
										<textarea name="quote-request-message" placeholder="Questions/Comments *" class="txtarea form-control required"></textarea>
									</div>
								</div>
								<button type="submit" class="btn">Submit</button>
								<div class="form-results"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Content -->