/* You can add global styles to this file, and also import other style files */
.navbarNavDropdowndata{
    justify-content: flex-end;
    width: 100%;
    height: 60px;
}
.navbarNavDropdowndata .navbar-nav .nav-item .nav-link{
    padding: 10px;
    cursor: pointer;
}
.navbarNavDropdowndata .navbar-nav{
    height: 40px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-end;
}
.space-to-header{
    margin-top: 60px;
    min-height: calc(100vh - 385px);
}
.dropdown-menu-center{
    width: 500px;
    transform: translate(-20%, 17%);
    padding: 1.25rem;
    position: fixed;
    z-index: 22;
    background: #f8f8f8;
    right: 0;
}
.role-details{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.role-details li{
    border-bottom:2px solid #7da53f;
    color:#329dcb;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.role-details li:hover{
    cursor: pointer;
}
.role-details li.activeMember{
    color:#7da53f;
}
.sign-in-button{
    margin-top: 13px;
}
.btn{
    padding: .375rem .75rem;
    background: #329dcb;
    border: 2px solid #329dcb;
}
.btn:hover, .btn:focus{
    background: #7da53f;
    border: 2px solid #7da53f;
    box-shadow: none;
}
.site-header .navbar-brand img{
    width: 90%;
}
.picsum-img-wrapper img{
    width: 100%;
    height: 400px;
}
.address-section .content{
    display: flex;
    justify-content: center;
}
.pd-x3{
    width: 100%;
}
.new-user{
    font-size: 0.8em;
    display: inline;
    padding-right: 10px;
}
.new-user-details{
    margin-top: 36px;
}
.schedule-call{
    cursor: pointer;
    color:#329dcb;
}
.showCalender{
    position: absolute;
    top: 0;
    z-index: 99;
    width: 50%;
    height: 95%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #329dcb;
}
.schedule-header{
    height: 20px;
    right: 20px;
    position: relative;
}
.schedule-header button{
    cursor: pointer;
}
.hideCalender{
    display: none;
}
body #watermark{
    height: 0;
    width: 0;
}
.agent-list-header{
    height: 50px;
}
.agent-list-header p{
    font-weight: bold;
    position: relative;
    top: 5px;
    font-size: 1.5rem;
}
.ie-footer{
    position: relative;
    bottom: 0;
}
.user-image img{
    position: relative;
    top:-8px;
}
.header-s1.has-fixed .navbar{
    box-shadow: 0 1px 5px rgb(37 128 254 / 10%);
}
.edit-profile-form input{
    width: 100%;
}
.role-details li:nth-child(2){
    margin-left: 40px;
}
.edit-profile-header{
    position: relative;
    top: 15px;
}
.edit-profile{
    margin-top: 80px;
    margin-bottom: 20px;
}
.navbarNavDropdowndata .navbar-nav .user-image a:hover,.navbarNavDropdowndata .navbar-nav .user-image a:focus{
    background:none;
    color: black;
}
.dropdown-menu{
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}
.user-image .dropdown-menu{
    left: -100px;
    width: 90px;
}
.navbarNavDropdowndata .user-image .dropdown-menu a:hover{
    background-color:#329dcba1;
}
.dashboard-headings .header-details:nth-child(4){
    width: 120px;
}