	<!-- Content -->
	<div class="section section-contents section-pad-sm">
		<div class="container">
			<div class="content row">
				
				<div class="wide-md center">
					<h2>Business &amp; Commercial Fleet Insurance.</h2>
				</div>
				<div class="gaps size-sep"></div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>General Liability Insurance</h4>
							<p>General Liability (GL) insurance, sometimes called small business insurance or commercial liability insurance, provides insurance coverage for your business against claims made by others including bodily injury, damage to property, or personal injury.</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Business Insurance</h4>
					<p>Business insurance, also known as commercial insurance, helps protect business owners from unexpected losses.
						There are many types of insurance policies that protect the company you’ve worked hard to build, including coverage for business property damage, legal liability and employee-related risks.</p>
					<p>Business insurance can also help replace lost wages if your employees have a work-related injury or illness and need time to recover.</p>
						</div>
					</div>
				</div>
				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Business Owners Policy</h4>
					<p>A Business Owners Policy (BOP) is an enhanced insurance policy that combines general liability insurance and property insurance.</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Cyber Security Insurance</h4>
					<p>A cyber insurance policy is designed to cover privacy, data, and network exposures. The list of regulations and statutes continues to expand regarding the use and protection of cyber security information, as well as notification requirements in the event of a breach. As cyber exposures continue evolving, so will your need to ensure that your business is protected if a cyber attack occurs.</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Workers Compensation</h4>
					<p>Workers compensation insurance protects your employees and your business from work-related accidents, illnesses, and even death. Nearly every state requires that employers have insurance to cover medical costs and lost wages for workers who are injured or become ill on the job. If you don’t carry workers compensation insurance, you could be liable for these costs, and be subject to fines or penalties by the state.</p>
					<p>Workplace injuries happen even in the safest of workspaces. Even if your employee has health insurance, you are responsible for their medical costs if they suffer a job-related injury or illness. In addition, the worker is entitled to a percentage of their regular wages during the time that they are unable to work due to their injury or illness. These costs are covered by workers compensation insurance. If you don’t have insurance, you will have to pay these costs out of pocket.
					</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>Professional Liability (E&O)</h4>
					<p>Professional liability insurance, also called errors and omissions (E&O) or indemnity insurance, protects your business if you are sued for negligently performing your services, even if you haven’t made a mistake.					</p>
						</div>
					</div>
				</div>

				<div class="box-flat pd-x3">
					<div class="row">
						<div class="col-md-12 col-sm-12 res-s-bttm">
							<h4>More Coverages</h4>
					<p>Umbrella, Auto, Directors and Officers…</p>
					<p>Contact our licensed Insurance Agent at 940-303-9299
					</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	