<div class="container">
  <br>
  <br>
  <div class="agent-list-header wide-md center">
    <h2 class=""> List of Agents </h2>
  </div>
  <div class="agent-dashboard row">
    <div class="col-sm-2"></div>
    <table class="table table-striped  col-sm-9 table-bordered">
        <thead class="">
            <tr class="dashboard-headings">
            <th *ngFor = "let column of headers"  class="header-details" scope="col"> {{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let data of agentData; let i = index">
                <td>{{i+1}}</td>
                <td>{{data.agenetFirstName }}</td>
                <td> {{ data.agentlastname}} </td>
                <td> {{data.agentMobileNo}}</td>
                <td class="schedule-call" (click)='makeaAppoitment(data, scheduleCalender)'> Schedule a call </td>
            </tr>
        </tbody>
    </table>
    <div class="col-sm-1"></div>
  </div>
  <br>
  <br>
</div>



<div class="showCalender box-flat"  [ngClass]="[showCalenderData == false? 'hideCalender':'showCalenderData']" >
  <div class="schedule-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Register Now</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="closeDialog('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
<smart-scheduler #scheduler id="scheduler" [dataSource]="dataSource" [currentTimeIndicator]="currentTimeIndicator"
[shadeUntilCurrentTime]="shadeUntilCurrentTime" [hourStart]="hourStart" [hourEnd]="hourEnd" [view]="view"  [firstDayOfWeek]="firstDayOfWeek"  [hideNonworkingWeekdays] = "hideNonworkingWeekdays" [nonworkingDays]="nonworkingDays"></smart-scheduler>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div> -->
</div>