<div class="section section-contents section-freequote section-pad-sm">
    <div class="container">
        <div class="row">
            <div class="freequote-content row">
                <div class="quote-list col-md-7 res-m-bttm-lg">
                    <p class="lead">Please contact us with questions and to set-up an appointment for a free quote by filling out the form below or giving us a call.</p>
                    <span class="gaps size-xs"></span>
                    <div class="quote-group">
                        <form id="quote-contact-request" class="form-message" action="form/contact.php" method="post">
                            <div class="form-results"></div>
                            <div class="form-group row">
                                <div class="form-field col-md-6 form-m-bttm">
                                    <input name="contact-name" type="text" placeholder="Name *" class="form-control required">
                                </div>
                                <div class="form-field col-md-6">
                                    <input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-field col-md-6 form-m-bttm">
                                    <input name="contact-phone" type="text" placeholder="Phone *" class="form-control required">
                                </div>
                                <div class="form-field col-md-6">
                                    <input name="contact-cell" type="text" placeholder="Cell Phone" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-field col-md-6 form-m-bttm">
                                    <input name="contact-address" type="text" placeholder="Address" class="form-control">
                                </div>
                                <div class="form-field col-md-6">
                                    <input name="contact-citystate" type="text" placeholder="City, State, Zip" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-field col-md-6 form-m-bttm">
                                    <input name="contact-service" type="text" placeholder="Type of Product Interest" class="form-control">
                                </div>
                                <div class="form-field col-md-6">
                                    <input name="contact-besttime" type="text" placeholder="Best time to reach" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <!-- <div class="form-field col-md-12">
                                    <textarea name="contact-message" placeholder="Messages / Question *" class="txtarea form-control required"></textarea>
                                </div> -->
                            </div>
                            <!-- <input type="text" class="hidden" name="form-anti-honeypot" value=""> -->
                            <button type="submit" class="btn solid-btn sb-h">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="contact-details col-md-4 col-md-offset-1">
                    <div class="sidebar-right">
                        <div class="wgs-box boxed boxed-flat">
                            <div class="wgs-content">
                                <h5>Contact Information</h5>
                                <p><strong>Insurance Exchange Data Services Inc</strong><br>
                                12300 Ford rd, Ste B200, Farmers Branch, TX 75234</p>
                                <p><strong>Email</strong><br>
                                info@insuranceexchange.com</p>
                                <p><strong>Contact Number</strong> <br>
                                Phone: 940-303-9399</p>
                            </div>
                        </div>
                        <!-- <div class="wgs-box boxed boxed-flat">
                            <div class="wgs-content">
                                <h5>Report a Claim</h5>
                                <p>A team of insurance professionals who are there when you need them, Just call them.</p>
                                <p><a href="claims.html" class="btn-link link-arrow-sm">Claim Info</a></p>
                            </div>
                        </div> -->
                    </div>						
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Content -->