
<!-- Banner/Slider -->
<div class="header-s1 ">
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" >
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>My slide 1 title</h3>
      </div>
      <a href="" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img src="assets/images/banner.jpg" alt="My image 1 description">
        </div>
      </a>
    </ng-template>
    <ng-template ngbSlide>
        <div class="carousel-caption">
          <h3>My slide 2 title</h3>
        </div>
        <a href="" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img src="assets/images/insurance_1.jpg" alt="My image 2 description">
          </div>
        </a>
      </ng-template>
      <ng-template ngbSlide>
        <div class="carousel-caption">
          <h3>My slide 3 title</h3>
        </div>
        <a href="" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img src="assets/images/insurance_2.jpg" alt="My image 3 description">
          </div>
        </a>
      </ng-template>
  </ngb-carousel>
</div>
<!-- #end Banner/Slider -->
<!-- Content -->
<div class="section section-contents bg-light insuranceTypes">
	<div class="container">
		<h1 style="margin-bottom: 20px;" class="mainHeading center">The largest insurance market place for Digital & Technology businesses  </h1>
	</div>
	<div class="container" style="max-width: 900px;">
		<div class="content row center">			
			<!-- Feature Carousel -->			
				<div class="col-sm-3 col-xs-6">
					<div class="feature">
						<a href="#">							
							<img src="assets/images/car-insurance.png" alt="">
							<h3 class="title">Auto Insurance</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="feature">
						<a href="#">							
							<img src="assets/images/home-insurance.png" alt="">
							<h3 class="title">Home Insurance</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="feature">
						<a href="#">							
							<img src="assets/images/business-insurance.png" alt="">
							<h3 class="title">Business Insurance</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6">
					<div class="feature">
						<a href="#">							
							<img src="assets/images/life-insurance.png" alt="">
							<h3 class="title">Life Insurance</h3>
						</a>
					</div>
				</div>				
			<!-- End Feature Carousel -->
		</div>
	</div>
</div>
<!-- End Content -->
<!-- Latest News -->
<div class="section section-news">
    <div class="container">
        <div class="content row">
            <h2 class="mainHeading center">Recommended Policies for Digital & Technology Business</h2>
            <div class="gaps size-md"></div>
            <div class="blog-posts">
                <div class="row">
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry">								
                            <h3><img src="assets/images/error.jpg">Errors & Omissions Insurance</h3>
                            <p>This policy protects against lawsuits over mistakes or oversights made by tech professionals. 
                                It’s sometimes called professional liability insurance.</p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Failure to meet client requirements</li>
                                <li>Failure to meet a deadline</li>
                                <li>Errors and oversight</li>
                            </ul>
                            <a class="btn-link" href="#">Learn more about errors & omissions</a>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry">								
                            <h3><img src="assets/images/cyber.jpg">Cyber Liability Insurance</h3>
                            <p>This policy covers the cost of recovering from a data breach or cyberattack at your tech company.<br><br></p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Lawsuits for clients affected by a breach</li>
                                <li>Notifying affected clients about a breach</li>
                                <li>Fraud detection and monitoring</li>
                            </ul>
                            <a class="btn-link" href="#">Learn more about cyber liability</a>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry">								
                            <h3><img src="assets/images/bonds.jpg">Fidelity Bonds<br><br></h3>
                            <p>A fidelity bond protects a tech company when a client accuses your employee of theft. It’s also called an employee dishonesty bond.</p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Unlaawful data access by an employee</li>
                                <li>Illegal electronic funds transfer by employee</li>
                                <li>Other employee theft or fraud
                            </ul>
                            <a class="btn-link" href="#">Learn more about fidelity bonds</a>
                        </div>
                    </div>						
                </div>
                <div class="row" style="margin-top:30px">
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry">								
                            <h3><img src="assets/images/owner.jpg">Business Owner’s Policy</h3>
                            <p>This policy bundles propety insurance and general liability insurance into one plan. It’s one of the most economical types of business insurance for a tech company.</p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Accidental client injuries</li>
                                <li>Accidental damage to client property</li>
                                <li>Damaged business property</li>
                            </ul>
                            <a class="btn-link" href="#">Learn more about business owner’s</a>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry" style="padding-right: 20px;">								
                            <h3><img src="assets/images/compensation.jpg">General Liability Insurance</h3>
                            <p>This policy protects tech businesses from the most common third-party risks.  A business owner’s policy bundles this coverage with property insurance at a discount.</p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Accidental client injuries </li>
                                <li>Accidental damage to client property</li>
                                <li>Liabel, defamation, and copyright lawsuits</li>
                            </ul>
                            <a class="btn-link" href="#">Learn more about general liability</a>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="post post-boxed col-sm-4 res-s-bttm-lg">
                        <div class="post-entry">								
                            <h3><img src="assets/images/liability.jpg">Workers’ Compensation</h3>
                            <p>State law usually requires tech businesses that have employees to purchase this policy. It helps pay medical cost from work-related injuries and illnesses.</p>
                            <span class="bestFor">Best For</span>
                            <ul>
                                <li>Medical bills from work injuries</li>
                                <li>Partial wadges while employee recovers</li>
                                <li>Lawsuits over work injuries</li>
                            </ul>
                            <a class="btn-link" href="#">Learn more about workers comp</a>
                        </div>
                    </div>						
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Section -->