	<!-- Call Action -->
	<div class="call-action">
		<div class="cta-block">
			<div class="container">
				<div class="content row">
					<div class="cta-sameline ucap">
						<h3>Speak with a licensed insurance agent : 1-940-303-9299</h3>						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- address Action -->
	<div class="address-section">
			<div class="container">
				<div class="content row center">
						<p>12300 Ford rd, Ste B200,<br>
							Farmers Branch, TX 75234<br>
							info@insuranceexchange.com<br>
							940-303-9299</p>
				</div>
			</div>
	</div>
	<!-- End Section -->

		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row  ucap">
					<div class="site-copy col-sm-4 center-sm">
						<p>© 2020 Insurance Exchange Data Services Inc.</p>
					</div>
					<div class="site-dclaim col-sm-4 center center-sm">
						<p><a href="#">Terms of Use</a> <span class="sep"> | </span> <a href="#">Privacy Policy</a></p>
					</div>
					<div class="site-by col-sm-4 al-right center-sm ">
						<p></p>
					</div>					
				</div>
			</div>
		</div>