<div class="section section-contents section-pad-sm">
    <div class="container">
        <div class="content row">	
            <div class="wide-md center">
                <h2>Homeowners Insurance</h2>
            </div>
            <div class="gaps size-sep"></div>
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">
                        <h4>How Much Does Homeowners Insurance Cost?</h4>
                        <p>When it comes to homeowners insurance, there’s no one-size-fits-all pricing. Rates can vary on a number of factors, but having homeowners insurance is important because it can 
                        help cover the costs if your home or personal belongings are damaged from a covered incident. To determine rates, insurance companies will often look at:</p>
                        <ul class="list-style dots">
                            <li>Your Home’s Replacement Cost: The more your home costs to replace after a covered loss, the higher your homeowners insurance rate will be. To get an accurate estimate of your home’s worth, hire an appraiser. This will help make sure you’re insuring your home for the right amount, because if your homeowners insurance policy doesn’t cover the entire cost to rebuild your home, you would be responsible for paying the difference.</li>
                            <li>Your Home’s Age: If your home is older, it may increase the rate of your homeowners insurance policy. Generally, the older the home is, the more difficult and costly it can be to rebuild it if it were lost in a covered incident.</li>
                            <li>Your Home’s Location: If your home is next to a body of water, it could increase your homeowner’s insurance rate because of the higher risk of flooding. If your house is near a fire department, it could lower the cost of your homeowner’s insurance policy because your insurance company may see your house as safer and easier to protect from a fire than a home that’s farther from a station.</li>
                            <li>Dogs: If you’re a dog owner, your pet’s breed can have an impact on your homeowners insurance rate. Dog breeds that are considered risky and more prone to bite often lead to increased insurance rates.</li>
                            <li>Claims History: If you’ve had a number of claims submitted, it can increase your homeowners insurance cost.</li>
                        </ul>
                    <p>A homeowner’s insurance policy is there when the unexpected strikes, 
                        helping cover the costs if your home or personal belongings are damaged from a covered incident. For covered losses, you have protection if you are 
                        found responsible for any injury to someone or property damage.</p>
                    <p>When deciding on a plan for your property, it’s important to remember that not all homeowners insurance policies are the same</p>
                    </div>
                </div>
            </div>	
    
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">
                        <h4>How to Determine Your Homeowners Insurance Rate</h4>				
                        <p>From location and rebuilding costs to the type of dog you have, a few different elements will determine your homeowners insurance rate.</p>
            
                        <p>You want to avoid underinsuring your home. If this happens and you need to rebuild, your homeowners insurance policy won’t help cover the entire cost. To make sure you have the right amount of coverage, start by figuring out how much it would cost to completely rebuild your home if it were destroyed in a storm. Remember to factor in the labor costs with the total cost of the home.</p>
                            
                        <p>Where you live also impacts your rate. A quote for a homeowners insurance policy could change depending on the city, state or zip code.</p>
                    
                    </div>
                </div>
            </div>	
    
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">
                        <h4>Why Do Some States Have Higher Rates Than Others?</h4>				
                        <p>Homeowners insurance rates can be affected by localized factors. If you live in a state that is more susceptible to storms or natural disasters, your homeowners insurance rate may be higher. That’s because your home is more at risk of being damaged. If you’re in an area more susceptible to flooding, storms or natural disasters, that is factored into your rate, as well as labor costs in the area.</p>
                        <ul class="list-style dots">
                            <li>Location: If you live near a coastline or a large body of water, your house has more risk of flood damage than a home that was built more inland. And if you live in a state that is more prone to natural disasters, your homeowners insurance rate may be higher than a home in a state that rarely sees tornadoes or hurricanes. For example, a person living in California may have a higher homeowners insurance rate than a person living in Pennsylvania because the state they live in is more prone to wildfires.</li>
                            <li>Labor and Construction: When you take out a homeowners insurance policy, you’ll have to factor in the cost to rebuild your home if it’s completely destroyed in a covered event. When you’re trying to determine this amount, it’s important to think about labor and construction costs. If the state or area you live in has high construction costs, this could end up increasing your homeowners insurance rate. Or, if your area offers lower construction costs, your insurance rate could decrease.</li>
                            <li>Regulations: Each state has its own unique building codes and regulations. If you live in a home that was built before the regulations were passed, it’s likely it doesn’t conform to all of the building codes and regulations. If the house is destroyed, you may have to rebuild it to conform to the regulations, which could be more expensive.</li>		
                        </ul>					
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">						
                        <h4>Save on Homeowners Insurance Rates</h4>				
                        <p>Although there are numerous factors that can impact your homeowners insurance rate, there are also a variety of ways you can save on your policy. Here are a few:</p>			
                        <ul class="list-style dots">
                            <li> Roof Age: Your roof protects you and your family from all sorts of weather. Depending on what it’s made of and how old it is, it could also save you some money on your premium. You may see some homeowners insurance rate savings if your roof is made of a material that is durable and resistant to fire and rotting.</li>
                            <li>Claims: If you have a clean claims history, your insurance rate may decrease. To an insurer, a clean claims history means you and your home are safe and protected. If you haven’t filed a claim in a certain time period, you may receive a discount on your premium.</li>				
                            <li>Credit Score: In some states, insurers can look at your credit score when providing you with an insurance policy. If you have a higher credit score, you may receive a discount on your homeowners insurance rate.</li>				
                            <li>Deductible: The amount you choose for your deductible on your homeowner’s insurance policy affects your rate. If you choose a higher deductible, you mayreceive a reduced premium cost.</li>
                        </ul>  
                        <p>When you’re ready to start, get an</p>
                         <a target="blank" href="get-a-quote.html">online quote</a>. <p>If you have any questions about your quote or if you’d rather speak to a representative, call us at 940-303-9299 to discuss your homeowners insurance policy options.</p>
                    </div>
                </div>
            </div>	
        </div>   
    </div>
</div>
<!-- End content -->

<!-- Content -->

<div class="section section-contents section-pad-sm bg-light">
    <div class="container">
        <div class="content row">		

                <div class="wide-md center">
                    <h2>Renters Insurance: </h2>
                </div>
                <div class="gaps size-sep"></div>
            
            
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">		
                    <h4>What Is Renters Insurance?</h4>				
                    <p>If you’re renting an apartment, condo or home, you’ll need to protect yourself and your personal belongings. Even though you don’t own the space, you still face many risks, like theft, fire or storm damage. That’s where renters insurance can help.</p> 
                    <p>We know you have unique needs, so we can work with you to customize your renters insurance policy.</p>				 
                    <p>Take the steps to protect your belongings and get a <a target="blank" href="get-a-quote.html">renters insurance quote</a> today.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Why Get Renters Insurance?</h4>	
                    <p>As a renter, your landlord insures the physical structure of your apartment, condo or home. But that doesn’t protect your belongings inside the rental. That’s why renters insurance is important to have, so you can fix or replace your belongings if they get damaged from a covered loss, like: </p>
                    <ul class="list-style dots">
                        <li>Fire and smoke damage</li>
                        <li>Theft or burglary</li>
                        <li>Vandalism</li>
                    </ul>
                    <p>It’s important to know what kinds of damage and events your renters insurance policy covers.</p>
                    
                    <p>Your policy will tell you what’s excluded from coverage. If you need additional coverage, you can get a special personal property coverage endorsement. This will slightly increase your premium, but it extends your protection to include losses specifically excluded in a standard renters insurance policy.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>What Does Renters Insurance Cover?</h4>
                    <p>Your renters insurance coverage can help you in several ways. Your standard policy includes different types of coverage, such as:</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>'New for Old' Protection</h4>
                    <p>Our “New for Old” protection replaces your covered possessions with new items of equal quality, regardless of their age or condition.**</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Built-In Improvements</h4>
                    <p>Your policy covers any built-in improvements you’ve made to your rental, such as bookshelves or wallpaper, for up to 10% of your personal property coverage. So, if you have $15,000 in personal property coverage, your policy covers up to $1,500 in damages to your built-in improvements.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Living Expenses</h4>
                    <p>If a covered loss prevents you from living in your rental, your insurance policy can help cover your living expenses, such as hotel fees or food costs. Your renters insurance covers these expenses up to an additional 20% of your personal property coverage. For example, your $15,000 policy can cover up to $3,000 of living expenses.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Liability Claims</h4>
                    <p>If you’re legally liable for the accidental death or injury of another person at your rental, your renters insurance has liability coverage which may help pay for costs up to your policy limit. Even if you’re not legally responsible, your insurance policy can help pay for your defense costs.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Medical Payments</h4>
                    <p>Your renters insurance can help pay for someone’s medical bills if they get hurt in your rental. This coverage applies no matter who’s at fault.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Property Damage</h4>
                    <p>If you or a family member damage someone else’s property, your renters insurance can cover up to $1,000 to fix or replace it.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>What’s Not Covered by Renters Insurance?</h4>
                    <p>Your renters insurance doesn’t cover certain natural disasters, such as floods or earthquakes. To protect your belongings from this type of damage, you’ll need to buy a separate policy, like flood insurance.</p>
                    
                    <p>Even though your renters insurance doesn’t cover flooding caused by weather, it does cover water damage from a leak in your rental or a connecting unit. To make sure you have enough coverage, or if you need flood or earthquake insurance, you can reach our specialists at 940-303-9299</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>How Much Does Renters Insurance Cost?</h4>
                    <p>Insurance companies look at many factors when determining your renters insurance cost, such as:</p>
                    <ul class="list-style dots">
                        <li>Location</li>
                        <li>Estimated value of your personal items</li>
                        <li>Neighborhood safety</li>
                    </ul>
                    <p>If your rental is in a neighborhood with a history of less claims, your renters insurance policy may be lower than the average. If you’re renting an apartment that’s more inland, your renters insurance cost will likely be lower than if you lived in a waterfront unit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End content -->



<!-- Content -->
<div class="section section-contents section-pad-sm">
    <div class="container">
        <div class="content row">		

            <div class="wide-md center">
                <h2>Condo Insurance: </h2>
            </div>
            <div class="gaps size-sep"></div>
            
        <div class="box-flat pd-x3">
            <div class="row">
                <div class="col-md-12 col-sm-12 res-s-bttm">
                    <p>Get your <a target="blank" href="get-a-quote.html">condo insurance</a> quote online today or call an insurance agent at 940-303-9299.</p>			
                    <h4>Condo Insurance Coverage Types</h4>
                    <p>The Hartford can help you select the right condo insurance coverage for your one-of-a-kind home. Whether you’ve filled it with valuable artwork or expensive technology, we’ll help protect what you value most.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Dwelling Coverages for Condos</h4>
                    <p>Dwelling coverage for condos helps protect appliances and fixtures, along with any changes or improvements you make to your condominium. It can also help protect the parts of the property you’re responsible for insuring under your property owners or condo association agreement.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Condo Personal Property Protection</h4>
                    <p>Condo personal property coverage can help protect the belongings you keep in your condo. These can include furniture, clothing and appliances, depending on your policy’s limitations or exclusions.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Condo Liability</h4>
                    <p>If you’re sued for a property-related issue, condo liability protection can help cover your legal defense costs and any court judgments against you up to your policy limits.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Loss of Use</h4>
                    <p>Loss of use can help pay your living expenses if you can’t stay in your condo because of a covered loss, like damage from a fire.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Medical Payments</h4>
                    <p>If someone gets hurt on your property this helps pay emergency medical bills up to your coverage limits. It also covers any injury that a family member or pet causes, even if it doesn’t happen in your condo.</p>
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Condo Insurance Rates</h4>
                    <p>Condo insurance costs are different depending on where you are in the U.S., 
                    Your cost will depend on:</p>
                    <ul class="list-style dots">
                    <li>The value of your personal property, such as art, jewelry, collectibles or antiques, because you would need additional coverage for those items.</li>
                    <li>The type and amount of coverage you choose and what your condo’s association already has for insurance.</li>
                    <li>The location of your condominium, because prices vary by state and region.</li>
                    <p>Keep in mind that not all condo insurance policies are the same. </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->

<!-- Content -->
<div class="section section-contents section-pad-sm bg-light">
    <div class="container">
        <div class="content row">		

                <div class="wide-md center">
                    <h2>Flood Insurance: </h2>
                </div>
                <div class="gaps size-sep"></div>

            
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">		
                    <h4>What Does Flood Insurance Cover?</h4>
                    <p>Flood insurance is typically an optional coverage that can help protect your home against damage caused by flooding. However, in some cases, your mortgage provider may mandate that you carry it.</p>
                    <p>Most people think you only need this coverage when you live near water, but you don’t have to have a home along the coast or near a river to need it. Even areas considered at lower risk can be vulnerable to flooding due to many other conditions that can cause it, like poor drainage systems, rapid rainfall accumulations, seasonal snow-melting or even construction run-offs.</p>					   
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>Does Homeowners Insurance Cover Flood Damage?</h4>
                    <p>Most homeowners insurance policies don’t cover flood damage. Even though this essential extra layer of protection is optional, it’s still important and can be purchased as an additional coverage.</p>					
                    <p>Flood insurance rates in the National Flood Insurance Program (NFIP) are established by the federal government. As a result, all companies that provide NFIP policies will use these same rates to determine your cost for coverage. Quotes given for flood insurance are based on your geographic location, the flood risks associated with area in which you live, and construction details specific to your home.</p>					
                    <p>Since rates are the same, additional value comes in choosing a company that provides exceptional service.</p>					
                    <p>Get a quote quickly and easily by calling 800-296-7542 to speak with one of our flood insurance specialists. </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End content -->

<!-- Content -->
<div class="section section-contents section-pad-sm">
    <div class="container">
        <div class="content row">			
                <div class="wide-md center">
                    <h2>Umbrella Insurance: </h2>
                </div>
                <div class="gaps size-sep"></div>
            
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">						
                    <h4>Protect Against Large Claims</h4>
                    <p>Get a free quote from Insurance Exchange: 940-303-9299</p>					
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>What Does Umbrella Insurance Cover?</h4>
                    <p>Umbrella insurance helps cover certain liability claims and lawsuits that exceed the limits of your auto or homeowners insurance policies.
                    An umbrella insurance policy includes several liability protections, such as:</p>
                    <ul class="list-style dots">
                    <li>Auto bodily injury liability: This helps cover a person’s treatment costs if they get hurt in a car accident. This coverage steps in when you reach your auto liability limit.</li>
                    <li>Bodily injury liability: This can help cover another person’s medical bills. If someone gets hurt and sues you, this coverage protects you once your liability limit has been reached.</li>
                    <li>Landlord insurance: This coverage helps protect you if someone gets hurt at your rental property and sues you. This coverage helps once your liability limit has been exhausted.</li>
                    <li>Property damage liability: This helps pay for damage to another person’s property or vehicle. This coverage will take effect when your liability limit has been exhausted.</li>
                    </ul>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>What Isn’t Covered by an Umbrella Insurance Policy?</h4>
                    <p>Your personal umbrella insurance policy doesn’t cover every claim. For example, it won’t cover losses related to your business. For that kind of claim, you’ll need a commercial umbrella insurance policy.</p>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                    <h4>What Should I Consider When Choosing a Personal Umbrella Policy?</h4>
                    <p>To figure out the amount of umbrella insurance coverage you need:</p>
                    <ul class="list-style dots">
                    <li>Estimate the total value of all your assets. Start with your home’s worth. Then, look at your net worth and add in the total amount of your savings, stocks and retirement.</li>
                    <li>Review your homeowners and car insurance policies to make sure there’s enough coverage to protect your assets in the event of a catastrophic loss.</li>
                    <li>Think about other items you protect, such as RV insurance, 
                        ATV insurance or 
                        boat insurance. Make sure you have enough coverage to protect these things if there’s a loss.</li>
                    </ul>
                    
                    </div>
                </div>
            </div>	
        
            <div class="box-flat pd-x3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 res-s-bttm">	
                        <h4>Get a Quote for Umbrella Insurance</h4>
                        <p>We’re here to help you get the coverage you need and answer your questions about getting a personal umbrella insurance policy.</p>
                        <p>We offer flexible options with $1 million, $2 million or $5 million in coverage.**</p>
                        <p>Get an umbrella insurance quote today by calling 940-303-9299..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>